build/
*target*
*.jar
!gradle-wrapper.jar
*.ear
*.war
*.class

.project
.metadata
bin/
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
.classpath
.settings/
.loadpath
local.properties

.externalToolBuilders/

*.launch

log/
logs/
.gradle/

.DS_Store
*.DS_Store
._.DS_Store

*.iml
.idea/
.idea/**/*

*~
